.sx_dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    height: 100%;
    z-index: 999;
    padding: 0 10px;
    .sx_dialog_toolBar {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 0;
    }
  }