.el-menu--popup .el-menu-item {
  background-color: #20222a;
}

.el-menu--popup .el-menu-item i, .el-menu--popup .el-menu-item span {
  color: rgba(255, 255, 255, 0.7);
}

.el-menu--popup .el-menu-item:hover i, .el-menu--popup .el-menu-item:hover span {
  color: #fff;
}

.el-menu--popup .el-menu-item.is-active {
  background-color: rgba(0, 0, 0, 0.8);
}

.el-menu--popup .el-menu-item.is-active:before {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  width: 4px;
  background: #409eff;
  position: absolute;
}

.el-menu--popup .el-menu-item.is-active i, .el-menu--popup .el-menu-item.is-active span {
  color: #fff;
}

.avue-sidebar {
  user-select: none;
  position: relative;
  /* padding-top: 60px; */
  height: 100%;
  background-color: #20222a;
  transition: width .2s;
  box-sizing: border-box;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.avue-sidebar .el-scrollbar__wrap {
  overflow-x: hidden;
}

.avue-sidebar--tip {
  width: 90%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  left: 5%;
  color: #ccc;
  z-index: 2;
  text-align: center;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.4);
}

.avue-sidebar .el-menu-item i, .avue-sidebar .el-submenu__title i {
  margin-right: 10px;
}

.avue-sidebar .el-menu-item i, .avue-sidebar .el-menu-item span, .avue-sidebar .el-submenu__title i, .avue-sidebar .el-submenu__title span {
  color: rgba(255, 255, 255, 0.7);
}

.avue-sidebar .el-menu-item:hover, .avue-sidebar .el-submenu__title:hover {
  background: transparent;
}

.avue-sidebar .el-menu-item:hover i, .avue-sidebar .el-menu-item:hover span, .avue-sidebar .el-submenu__title:hover i, .avue-sidebar .el-submenu__title:hover span {
  color: #fff;
}

.avue-sidebar .el-menu-item.is-active, .avue-sidebar .el-submenu__title.is-active {
  background-color: rgba(0, 0, 0, 0.8);
}

.avue-sidebar .el-menu-item.is-active:before, .avue-sidebar .el-submenu__title.is-active:before {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  width: 4px;
  background: #409eff;
  position: absolute;
}

.avue-sidebar .el-menu-item.is-active i, .avue-sidebar .el-menu-item.is-active span, .avue-sidebar .el-submenu__title.is-active i, .avue-sidebar .el-submenu__title.is-active span {
  color: #fff;
}
