.avue-tags {
  margin-bottom: 1px !important;
}

.avue-view {
  padding: 0 2px !important;
}

.el-tabs__header {
  margin: 0 0 6px !important;
}

.avue-crud__menu {
  margin-bottom: 0px !important;
}

.el-dialog__header {
  border-bottom: 1px solid #ccc;
}

.sx_formItem .el-form-item {
  margin-bottom: 10px !important;
}
