.sx_group .el-col {
  height: 40px;
  margin: 0;
}

.sx_group .el-col .el-form-item {
  width: 100%;
  margin-bottom: 0;
}

.sx_group .el-col .el-form-item .el-form-item__content {
  width: 65%;
}

.sx_group .el-col .el-form-item .el-form-item__content .el-select {
  width: 100%;
}

.sx_group .el-col .el-form-item .el-form-item__content .el-select input {
  height: 32px;
  line-height: 32px;
}

.sx_dialog .el-dialog__header {
  border-bottom: 1px solid #ccc;
}

.sx_dialog .el-col {
  margin-bottom: 10px;
}

.sx_dialog .el-col .el-form-item {
  width: 100%;
}

.sx_dialog .el-col .el-form-item .el-form-item__content {
  width: 65%;
}

.sx_dialog .el-col .el-form-item .el-form-item__content .avue-input-tree input {
  height: 32px !important;
}

.sx_dialog .el-col .el-form-item .el-form-item__content .el-select {
  width: 100%;
}

.sx_dialog .el-col .el-form-item .el-form-item__content .el-select input {
  height: auto;
}

.sx_group .el-table__header th {
  padding: 0 !important;
}

.sx_add_form .el-form-item__content {
  width: 70% !important;
}

.sx_group .cell button:nth-child(3) {
  color: red;
}
