.sx_post_selectInput {
    padding: 0 5px;
    box-sizing: border-box;
  }
  
 .sx_post_user{
   width:100%
 }
  .sx_post_table-space .cell button:nth-child(3){
       color: red;
  }
  .el-tag.el-tag--info .el-tag__close{
    display: none;
  }
  