.sx_formConfig_table .el-table__body tr, .sx_formConfig_table .el-table__body td {
  height: 35px !important;
  line-height: 35px !important;
  padding: 0 !important;
}

.sx_formConfig_table th {
  padding: 0 !important;
}

.sx_formConfig_table .cell {
  padding-left: 1px;
  padding-right: 1px;
}

.sx_formConfig_table .el-select {
  width: 100%;
}

.sx_formConfig_table thead {
  color: #000 !important;
  font-size: 12px !important;
}

.sx_formConfig_table thead th {
  background: #fafafa;
}

.sx_formConfig_table .el-input__inner {
  height: 35px;
  line-height: 35px;
}

.sx_formConfig_select input {
  height: 35px;
  line-height: 35px;
}

.sx_formConfig_dialog .el-dialog__body {
  padding: 5px 20px !important;
}
