/* .tableBox th{
    padding: 0 !important;
    height: 30px !important;
    line-height: 30px !important;
}
.tableBox td {
    padding: 0 !important;
    height: 60px !important;
    line-height: 60px !important;
}
.tableBox{
    width: 100%;
    margin-top:10px;
    margin-bottom: 15px;
} */