.sx_role_dialog .el-select {
  width: 100%;
}

.sx_deptBottom .el-input-number--mini {
  width: 100%;
}

.sx_role_model tr {
  text-align: center !important;
}

.sx_role_model th {
  text-align: center !important;
  background-color: #d8dde7 !important;
  padding: 0 !important;
}

.sx_role_model td {
  text-align: center !important;
}

.el-select-dropdown__item.selected {
  font-weight: 400 !important;
}
