.flowDetails {
    height: 100vh;
    overflow-y: scroll;

    .listCard {
        width: 95%;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        margin: 3% auto;
        border-radius: 7px;
        padding: 10px 12px;
        background: #fff;
        position: relative;

        .titled{
            font-size: 14px;
            color: #0079fe;
        }

        .tag{
            margin-top: 3px;
            margin-bottom: 3px;
            margin-left: 3px;
        }
    }

    .todoSearch {
      position: fixed;
      left: 0px;
      right: 0px;
      top: 0;
      z-index: 9;
      border-bottom: 1px solid #f6f7f8;
  
      .arrowIcon {
        margin-right: 4px;
      }
  
      .text {
        color: #0079fe;
      }
    }
  
    .pullrefresh {
      margin-top: 54px;

      .placeholder{
        height: 150px
      }
  
      .cellNode {
        box-sizing: border-box;
        padding: 3px 16px;
        color: #323233;
        font-size: 14px;
        line-height: 24px;
        background-color: #fff;
        border-bottom: 1px solid #ebedf0;
        display: flex;
        justify-content: space-between;
  
        .left {
          width: 65%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          div {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #323233;
            font-size: 14px;
          }
  
          div:nth-child(2) {
            color: #969799;
            font-size: 12px;
          }
        }
  
        .right {
          width: 35%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
  
          div {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
  
        .right {
          text-align: right;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          color: #969799;
        }
      }
    }
  }

  /deep/.van-uploader__upload {
    background-color: #f7f8fa;
    border: 1px dashed #0079fe;
  }
  
  /deep/.van-uploader__upload-icon {
    color: #0079fe;
  }
  
  /deep/.van-collapse-item__content {
    padding: 3px 16px;
    font-size: 12px;
  }
  
  /deep/.van-nav-bar__title {
    max-width: 80%;
  }
  
  /deep/.van-popup
    > .el-select-dropdown
    > .el-scrollbar
    > .el-select-dropdown__wrap {
    max-height: 133px !important;
  }
  
  textarea::-webkit-input-placeholder {
    color: #bcbdc1;
    font-size: 12px;
  }
  textarea:-moz-placeholder {
    color: #bcbdc1;
    font-size: 12px;
  }
  textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #bcbdc1;
    font-size: 12px;
  }
  textarea::-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #bcbdc1;
    font-size: 12px;
  }
  
  textarea {
    -webkit-appearance: none;
  }

